<div class="header">
    <h1>Movie-List</h1>
    <div class="filter">
        <label for="genre">Filter by Genre:</label>
        <select [(ngModel)]="selectedGenre" id="genre">
            <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
        </select>
    </div>
</div>


<div class="average-rating">
    <p>Average Rating: ⭐ {{ getAverageRating() | number:'1.1-1' }}</p>
</div>


<div class="movie-list">
    <div class="movie-card" *ngFor="let movie of filteredMovies">
        <img [src]="movie.image" [alt]="movie.title">
        <h3>{{ movie.title }}</h3>
        <p>Genre: {{ movie.genre }}</p>
        <p>Rating:⭐ {{ movie.rating }}</p>
    </div>
</div>